<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.ItemMapper" >

  <select id="getAllItem" resultType="com.ke.pojo.Item">
      SELECT *FROM item;
  </select>


  <resultMap id="BaseResultMap" type="com.ke.pojo.Item" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemTitle" property="itemtitle" jdbcType="VARCHAR" />
    <result column="itemUrl" property="itemurl" jdbcType="VARCHAR" />
    <result column="viewTimes" property="viewtimes" jdbcType="INTEGER" />
    <result column="sectionId" property="sectionid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ke.pojo.Item" extends="BaseResultMap" >
    <result column="itemDescription" property="itemdescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, itemTitle, itemUrl, viewTimes, sectionId
  </sql>
  <sql id="Blob_Column_List" >
    itemDescription
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ke.pojo.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ke.pojo.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ke.pojo.ItemExample" >
    delete from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ke.pojo.Item" >
    insert into item (id, itemTitle, itemUrl, 
      viewTimes, sectionId, itemDescription
      )
    values (#{id,jdbcType=INTEGER}, #{itemtitle,jdbcType=VARCHAR}, #{itemurl,jdbcType=VARCHAR}, 
      #{viewtimes,jdbcType=INTEGER}, #{sectionid,jdbcType=INTEGER}, #{itemdescription,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ke.pojo.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemtitle != null" >
        itemTitle,
      </if>
      <if test="itemurl != null" >
        itemUrl,
      </if>
      <if test="viewtimes != null" >
        viewTimes,
      </if>
      <if test="sectionid != null" >
        sectionId,
      </if>
      <if test="itemdescription != null" >
        itemDescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemtitle != null" >
        #{itemtitle,jdbcType=VARCHAR},
      </if>
      <if test="itemurl != null" >
        #{itemurl,jdbcType=VARCHAR},
      </if>
      <if test="viewtimes != null" >
        #{viewtimes,jdbcType=INTEGER},
      </if>
      <if test="sectionid != null" >
        #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="itemdescription != null" >
        #{itemdescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ke.pojo.ItemExample" resultType="java.lang.Integer" >
    select count(*) from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.itemtitle != null" >
        itemTitle = #{record.itemtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.itemurl != null" >
        itemUrl = #{record.itemurl,jdbcType=VARCHAR},
      </if>
      <if test="record.viewtimes != null" >
        viewTimes = #{record.viewtimes,jdbcType=INTEGER},
      </if>
      <if test="record.sectionid != null" >
        sectionId = #{record.sectionid,jdbcType=INTEGER},
      </if>
      <if test="record.itemdescription != null" >
        itemDescription = #{record.itemdescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update item
    set id = #{record.id,jdbcType=INTEGER},
      itemTitle = #{record.itemtitle,jdbcType=VARCHAR},
      itemUrl = #{record.itemurl,jdbcType=VARCHAR},
      viewTimes = #{record.viewtimes,jdbcType=INTEGER},
      sectionId = #{record.sectionid,jdbcType=INTEGER},
      itemDescription = #{record.itemdescription,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item
    set id = #{record.id,jdbcType=INTEGER},
      itemTitle = #{record.itemtitle,jdbcType=VARCHAR},
      itemUrl = #{record.itemurl,jdbcType=VARCHAR},
      viewTimes = #{record.viewtimes,jdbcType=INTEGER},
      sectionId = #{record.sectionid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ke.pojo.Item" >
    update item
    <set >
      <if test="itemtitle != null" >
        itemTitle = #{itemtitle,jdbcType=VARCHAR},
      </if>
      <if test="itemurl != null" >
        itemUrl = #{itemurl,jdbcType=VARCHAR},
      </if>
      <if test="viewtimes != null" >
        viewTimes = #{viewtimes,jdbcType=INTEGER},
      </if>
      <if test="sectionid != null" >
        sectionId = #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="itemdescription != null" >
        itemDescription = #{itemdescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ke.pojo.Item" >
    update item
    set itemTitle = #{itemtitle,jdbcType=VARCHAR},
      itemUrl = #{itemurl,jdbcType=VARCHAR},
      viewTimes = #{viewtimes,jdbcType=INTEGER},
      sectionId = #{sectionid,jdbcType=INTEGER},
      itemDescription = #{itemdescription,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ke.pojo.Item" >
    update item
    set itemTitle = #{itemtitle,jdbcType=VARCHAR},
      itemUrl = #{itemurl,jdbcType=VARCHAR},
      viewTimes = #{viewtimes,jdbcType=INTEGER},
      sectionId = #{sectionid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>